table {
    margin: auto;
    width: 30%;
}
  
th, td {
    text-align: center;
    padding: 2px;
    color:maroon;
}
  
tr:nth-child(even) {
    background-color: lightgrey;
}

#cim {
    color:maroon;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 16px;
}